html, body, #map {
   height:100%;
   width:100%;
   padding:0px;
   margin:0px;
} 
#wgslabel {
   font-size: small;
   left: 157px;
   position: absolute;
   bottom: 126px;
   z-index: 10000;
}
#smerclabel {
   font-size: small;
   left: 542px;
   position: absolute;
   bottom: 126px;
   z-index: 10000;
}
#bbounds {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 100px;
   z-index:10000;
} 
#mbounds {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 80px;
   z-index:10000;
} 
#mcenter {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 60px;
   z-index:10000;
} 
#mouse {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 30px;
   z-index:10000;
} 
#zoom {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 10px;
   z-index:10000;
} 
.bboxlabel {
   font-size: small;
   z-index:10000;
   background-color:black;
   color:white;
} 


#map-ui {
    position: absolute;
    top: 300px;
    left: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#map-ui a {
    font: normal 13px/18px 'Helvetica Neue', Helvetica, sans-serif;
    background: #FFF;
    color: #3C4E5A;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #BBB;
    border-bottom-width: 0;
    min-width: 75px;
    padding: 2px;
    text-decoration: none;
    text-align: center;
}

#map-ui a:hover {
    background: #ECF5FA;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui a.active {
    background: #3887BE;
    border-color: #3887BE;
    border-top-color: #FFF;
    color: #FFF;
}

.zeroclipboard-is-hover {
  color: rgb(51, 51, 51);
  background-color: rgb(230, 230, 230);
  text-decoration: none;
  background-position: 0px -15px;
  transition: background-position 0.1s linear 0s;
}

.leaflet-sidebar textarea{
    height: 95%;
    width: 100%;
    border: 1;
    padding: 2em;
    resize: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.leaflet-sidebar button{
   font-size: large;
}


.overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#000;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:2147483645;
}
.ocontainer {
    position: absolute;
    z-index:2147483646;
}
.ocontainer textarea{
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
    border: 0;
    padding: 2em;
    resize: none;

    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f2f2 0%,#f7f7f7 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.ocontainer #submit-buttons{
    position: absolute;
    top:0;
    right:-67px;
    z-index:2147483647;
}

.ocontainer #submit-buttons button{
    display: block;
    border-radius: 3px;
    box-shadow: inset 0 4px 4px 0 rgba(255,255,255,0.5);
    border: 0px;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}
.ocontainer #submit-buttons button:hover{
    -moz-transform: scale(1.1);
    -moz-transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    -webkit-transition: all .2s ease-in-out;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.ocontainer #submit-buttons button#cancel{
   background-color: #7A2929; 
}
.ocontainer #submit-buttons button#add{
   background-color: #7BB976; 
}

.unblurred.leaflet-tile-loaded {
    -moz-filter: blur(0) sepia(0) invert(0);
    -webkit-filter: blur(0) sepia(0) invert(0);
    filter: blur(0) sepia(0) invert(0);

    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.blurred.leaflet-tile-loaded {
    -moz-filter: blur(5px) sepia(1) invert(1);
    -moz-transition: all 2s ease;

    -webkit-filter: blur(5px) sepia(1) invert(1);
    -webkit-transition: all 2s ease;

    filter: blur(5px) sepia(1) invert(1);
    transition: all 2s ease;
}


