html, body, #map {
   height:100%;
   width:100%;
   padding:0px;
   margin:0px;
} 
#bbounds {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 80px;
   z-index:10000;
} 
#mbounds {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 60px;
   z-index:10000;
} 
#mouse {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 40px;
   z-index:10000;
} 
#zoom {
   font-size: small;
   left:10px;
   position:absolute;
   bottom: 20px;
   z-index:10000;
} 
.bboxlabel {
   font-size: small;
   z-index:10000;
   background-color:black;
   color:white;
} 
